@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<p>
    Inland Lake Marina <br />
    Box 123<br />
    Inland Lake, Arizona<br />
    86038<br />
    (office phone) 928-555-2234<br />
    (leasing phone) 928-555-2235<br />
    (fax) 928-555-2236<br />
    Manager: Glenn Cooke<br />
    Slip Manager: Kimberley Carson<br />
    Contact email: info@inlandmarina.com<br />
</p>
