@model InlandMarinaData.Customer;
@{
    ViewData["Title"] = "Login";
}
<form asp-action="Login">
    <h3>Login</h3>
    <table class="table">
        <tr>
            <td>User Name:</td>
            <td>
                <input asp-for="Username" type="text" />
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input asp-for="Password" type="password" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Authenticate" class="btn btn-primary" />
            </td>
            <td colspan="2">
                <input type="submit"  asp-action="Create" asp-controller="Account" value="Register" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>